<%content_for :page_title do%>
	Ganancias del último mes
<%end%>

<%= javascript_include_tag "highstock.js"%>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>

$(function () {
        window.chart = new Highcharts.StockChart({
            chart: {
            	renderTo : 'container',
                zoomType: 'x'
            },
            
            title: {
                text: 'Ganancias Diarias'
            },
            yAxis: {
                min: 0,
                title: {
                    text: '$'
                }
            },
            
            rangeSelector: {
            	buttons: [ {
            	type: 'all',
            	text: 'Reset'
            	}],
                enabled: true,
                inputEnabled:false,
            	inputDateFormat: '%d/%m/%Y',
            	inputEditDateFormat: '%d/%m/%Y',
            	
            },
            
            tooltip: {
                shared: true,
                crosshairs: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: <%=raw @series%>
            
        });
        
        $('#container2').highcharts({
            chart: {
                type: 'column',
                zoomType: 'x'
            },
            title: {
                text: 'Ganancias Clientes TOP 10'
            },
            xAxis: {
                categories: <%=raw @idClientes%>
            },
            yAxis: {
                min: 0,
                title: {
                    text: '$'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: <%=raw @gananciasClientes%>
        });
        $('#container3').highcharts({
            chart: {
                type: 'column',
                zoomType: 'x'
            },
            title: {
                text: 'Ganancias Productos TOP 10'
            },
            xAxis: {
                categories: <%=raw @skuProductos%>
            },
            yAxis: {
                min: 0,
                title: {
                    text: '$'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: <%=raw @gananciasProductos%>
        });
    });
</script>
<%content_for :page_actions do%>
	<li><%link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class=>'button'%></li>
<%end%>

<h1>Resumen</h1>
<h2>Total de utilidades: <b>$ <%= @qqq[:sum]%></b></h2>
<br><br>
<h1>Ganancias por producto</h1>
<table>
	<tr>
		<td>SKU</td>
		<td>Ganancias</td>
	</tr>
	<tr>
		<% @q.each do |c|%>
		<td><%= c._id %></td>
		<td><%= c.sum_utilidades %></td>
		<% end %>
	</tr>
</table>


<br>
<br><h1>Ganancias por cliente</h1>
<table>
	<tr>
		<td>RUT cliente</td>
		<td>Ganancias</td>
	</tr>
	<tr>
		<% @qq.each do |c|%>
		<td><%= c._id %></td>
		<td><%= c.sum_utilidades %></td>
		<% end %>
	</tr>
</table>

