<script>
	$(function(){

		var importAProduct=function(i,data){
			// console.log (i + " : " + data.length)
			if(i<data.length && i<50)
			{
				$('#avance').children().first().html(parseInt(i/(data.length-1)*100));
				datos=data[i];
				$.ajax({
					url: '<%= admin_import_path %>',
					data: datos,
					type: 'POST',
					success: function(_data){
						$('#resultado ul').append('<li><ul id="#'+data[i]['sku']+'" class="state-'+_data['product']+'"><b>'+data[i]['modelo']+'('+data[i]['marca']+')</b></ul></li>');
						console.log(data[i]['sku']+": Marca "+data[i]['marca']+"("+_data['marca']+")");
						$.each(_data['categorias'], function(i,e){
							console.log(data[i]['sku']+": Categoría: "+e['name']+ "("+e['categoria']+")");
						});
						importAProduct(i+1,data);
					}
				});
			}
		}

		$("#send").click(function(){
			file=$("#fileImport").val();
			if(file.substring(file.length-5,file.length).toUpperCase()==".JSON")
			{
				var superFile = new FormData();
				$.each($('#fileImport')[0].files, function(i, file) {
				    superFile.append('file-'+i, file);
				});

				$('#error').html('');
				$('#send').hide();
				$('#loading').show();
				$('#avance').show();
				$('#avance').children().first().html('0');
				$('#resultado').show();
				$.ajax({
					url: '<%= admin_import_file_path%>',
					data: superFile,
					type: 'POST',
					cache: false,
					contentType: false,
					processData: false,
					success: function(data){
						importAProduct(0,data);
					}

				})
			}
			else
			{
				$('#error').html('Debe ingresar un archivo válido (formato json)')
			}
		})

	});
</script>
<style>
	#error,.error, .state--1{
		color:#a94442 !important;
	}
	#succes, .success, .state-1{
		color: #3c763d !important;
	}
	#warning, .warning, .state-0{
		color: #8a6d3b !important;
	}
	.well{
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	}
	.well-lg{
		padding: 24px;
		border-radius: 6px;
	}

	#resultado li {
		display: list-item;
		text-align: -webkit-match-parent;
	}
	#resultado ul {
		display: block;
		list-style-type: disc;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 40px;
	}

	#resultado ul, ol {
		margin-top: 0;
		margin-bottom: 10px;
	}
</style>
<h1>Import masivo de productos</h1>
<br><br>
  <%= file_field_tag :fileImport, accept: 'application/json' %>
 <br><br><br><br>
  <%= submit_tag "Importar", id: "send" %><div id="error"></div>
  <%= image_tag "loading.gif", size: "50x50", id: "loading", style: "display:none;" %>
  <div id="avance" style="display:none;">Cargando (<span></span>%)</div>
  <div id="resultado" class="well well-lg" style="display:none;"><ul></ul></div>